Import libraries

In [361]:
import pandas as pd
import numpy as np

I have two different tables, one of them contains the languages and original region of the film, which also will be of interest for the exploration

In [362]:
data= pd.read_csv("C://Users/hugoa/Ironhack/Week_5/Mid_bootcamp_project/Data/Raw/archive/imdb_top_1000.csv")

In [363]:
data.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

Renaming the column which contains the movie title so that I can later merge the tables

In [364]:
data = data.rename(columns={'Series_Title': 'title'})

In [365]:
data.shape

(1000, 16)

In [366]:
data2= pd.read_csv("C://Users/hugoa/Ironhack/Week_5/Mid_bootcamp_project/Data/Raw/archive/master_list_greatest_films.csv", encoding='latin1')

In [367]:
data2.head()

,imdb_id,rank_afc_2007,rank_afc_1998,rank_wga_2005,rank_ss_2012,included_in_guardian_list,included_in_1001_book,title,year,rated,...,actors,plot,language,country,awards,poster,metascore,imdb_rating,imdb_votes,alternate_title
0,tt0000417,NaN,NaN,NaN,NaN,NaN,True,A Trip to the Moon,1902,TV-G,...,"Fran__ois Lallement, Jules-Eug_¨ne Legris",A group of astronomers go on an expedition to ...,NaN,France,NaN,http://ia.media-imdb.com/images/M/MV5BMTQzMDYx...,NaN,8.2,"28,826","Trip to the Moon, A (La voyage dans la lune)"
1,tt0000439,NaN,NaN,NaN,NaN,NaN,True,The Great Train Robbery,1903,TV-G,...,"A.C. Abadie, Gilbert M. 'Broncho Billy' Anders...",A group of bandits stage a brazen train hold-u...,English,USA,1 win.,https://images-na.ssl-images-amazon.com/images...,NaN,7.3,"11,609","Great Train Robbery, The"
2,tt0006206,NaN,NaN,NaN,NaN,True,True,Les vampires,1915,NOT RATED,...,"Musidora, _douard Math_©, Marcel L_©vesque, J...",An intrepid reporter and his loyal friend batt...,French,France,1 nomination.,https://images-na.ssl-images-amazon.com/images...,NaN,6.8,"3,139",Les Vampires (The Vampires)
3,tt0004972,NaN,44.0,NaN,NaN,NaN,True,The Birth of a Nation,1915,NOT RATED,...,"Lillian Gish, Mae Marsh, Henry B. Walthall, Mi...",The American Civil War divides friends and des...,NaN,USA,2 wins.,http://ia.media-imdb.com/images/M/MV5BMTY0ODUw...,NaN,6.8,"16,954","Birth Of A Nation, The"
4,tt0006864,49.0,NaN,NaN,NaN,NaN,True,Intolerance: Love's Struggle Throughout the Ages,1916,NOT RATED,...,"Lillian Gish, Mae Marsh, Robert Harron, F.A. T...","The story of a poor young woman, separated by ...",NaN,USA,1 win.,http://ia.media-imdb.com/images/M/MV5BMjM5Nzg2...,NaN,8.0,"10,759",Intolerance

I merge both dataframes by the coincident column, named title

In [368]:
comp = pd.merge(data, data2, on="title")

In [369]:
comp.head()

,Poster_Link,title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,...,actors,plot,language,country,awards,poster,metascore,imdb_rating,imdb_votes,alternate_title
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,...,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Two imprisoned men bond over a number of years...,English,USA,Nominated for 7 Oscars. Another 18 wins & 30 n...,https://images-na.ssl-images-amazon.com/images...,80.0,9.3,"1,711,064","Shawshank Redemption, The"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,...,"Marlon Brando, Al Pacino, James Caan, Richard ...",The aging patriarch of an organized crime dyna...,"English, Italian, Latin",USA,Won 3 Oscars. Another 23 wins & 27 nominations.,https://images-na.ssl-images-amazon.com/images...,100.0,9.2,"1,169,904","Godfather: Part 1, The"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,...,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",When the menace known as the Joker wreaks havo...,"English, Mandarin","USA, UK",Won 2 Oscars. Another 146 wins & 142 nominations.,https://images-na.ssl-images-amazon.com/images...,82.0,9.0,"1,699,835","Dark Knight, The"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,...,"Al Pacino, Robert Duvall, Diane Keaton, Robert...",The early life and career of Vito Corleone in ...,"English, Italian, Spanish, Latin, Sicilian",USA,Won 6 Oscars. Another 10 wins & 20 nominations.,https://images-na.ssl-images-amazon.com/images...,80.0,9.0,"800,469","Godfather: Part II, The"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,...,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",A jury holdout attempts to prevent a miscarria...,English,USA,Nominated for 3 Oscars. Another 16 wins & 8 no...,http://ia.media-imdb.com/images/M/MV5BODQwOTc5...,NaN,8.9,"451,535",12 Angry Men

I drop all rows with null values in the Gross columns, since it will be one of the variables we will use as dependent

In [370]:
comp.dropna(axis=0,subset=['Gross'], inplace=True)

In [371]:
comp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 317 entries, 0 to 370
Data columns (total 40 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Poster_Link                317 non-null    object
 1   title                      317 non-null    object
 2   Released_Year              317 non-null    object
 3   Certificate                305 non-null    object
 4   Runtime                    317 non-null    object
 5   Genre                      317 non-null    object
 6   IMDB_Rating                317 non-null    float64
 7   Overview                   317 non-null    object
 8   Meta_score                 295 non-null    float64
 9   Director                   317 non-null    object
 10  Star1                      317 non-null    object
 11  Star2                      317 non-null    object
 12  Star3                      317 non-null    object
 13  Star4                      317 non-null    object
 14  No_of_Votes                317 non-null    int64
 15  Gross                      317 non-null    object
 16  imdb_id                    317 non-null    object
 17  rank_afc_2007              75 non-null     float64
 18  rank_afc_1998              71 non-null     float64
 19  rank_wga_2005              77 non-null     float64
 20  rank_ss_2012               16 non-null     float64
 21  included_in_guardian_list  89 non-null     object
 22  included_in_1001_book      303 non-null    object
 23  year                       317 non-null    int64
 24  rated                      316 non-null    object
 25  released                   315 non-null    object
 26  runtime                    317 non-null    object
 27  genre                      317 non-null    object
 28  director                   317 non-null    object
 29  writer                     317 non-null    object
 30  actors                     317 non-null    object
 31  plot                       317 non-null    object
 32  language                   317 non-null    object
 33  country                    317 non-null    object
 34  awards                     314 non-null    object
 35  poster                     317 non-null    object
 36  metascore                  210 non-null    float64
 37  imdb_rating                317 non-null    float64
 38  imdb_votes                 316 non-null    object
 39  alternate_title            302 non-null    object
dtypes: float64(8), int64(2), object(30)
memory usage: 101.5+ KB

In [372]:
#lower case column title

In [373]:
#cols = []
#for col in comp.columns:
        #cols.append(col.lower())
#comp.columns = cols
#comp.columns

In [374]:
# Clean runtime, erase "min"

In [375]:
import regex as re
def clean_runtime(x):
    
    x=re.sub('min', '', x)
    
    return x

In [376]:
comp['Runtime']=comp['Runtime'].apply(clean_runtime)

In [377]:
comp["Runtime"].unique()

array(['142 ', '175 ', '152 ', '202 ', '96 ', '201 ', '154 ', '195 ',
       '148 ', '139 ', '178 ', '179 ', '136 ', '146 ', '124 ', '133 ',
       '169 ', '127 ', '118 ', '106 ', '130 ', '151 ', '150 ', '155 ',
       '88 ', '137 ', '116 ', '165 ', '109 ', '102 ', '87 ', '113 ',
       '229 ', '115 ', '147 ', '117 ', '95 ', '112 ', '125 ', '153 ',
       '108 ', '122 ', '81 ', '99 ', '160 ', '170 ', '131 ', '149 ',
       '114 ', '129 ', '228 ', '128 ', '103 ', '143 ', '107 ', '119 ',
       '180 ', '158 ', '138 ', '132 ', '162 ', '91 ', '172 ', '121 ',
       '126 ', '45 ', '134 ', '120 ', '80 ', '111 ', '93 ', '98 ', '101 ',
       '89 ', '145 ', '94 ', '183 ', '205 ', '212 ', '161 ', '104 ',
       '135 ', '238 ', '105 ', '67 ', '156 ', '188 ', '140 ', '189 ',
       '84 ', '181 ', '191 ', '110 ', '197 ', '141 ', '92 ', '100 ',
       '82 ', '123 ', '220 ', '85 ', '86 ', '166 ', '194 ', '159 ', '97 ',
       '193 ', '78 '], dtype=object)

Dealing with genre

In [378]:
# Films have multiple genres to them, in order to reduce the groups, I will take only the first genre.
# I am applying same methodology for all categorical columns, just picking the first element, understood as everything
#that goes up until a comma.

In [379]:
comp["Genre"].unique()

array(['Drama', 'Crime, Drama', 'Action, Crime, Drama',
       'Action, Adventure, Drama', 'Biography, Drama, History',
       'Action, Adventure, Sci-Fi', 'Drama, Romance', 'Action, Sci-Fi',
       'Biography, Crime, Drama', 'Action, Adventure, Fantasy',
       'Drama, War', 'Crime, Drama, Mystery', 'Crime, Drama, Thriller',
       'Drama, Music', 'Drama, Mystery, Sci-Fi',
       'Biography, Drama, Music', 'Crime, Mystery, Thriller',
       'Animation, Adventure, Drama', 'Adventure, Comedy, Sci-Fi',
       'Western', 'Horror, Mystery, Thriller', 'Drama, Romance, War',
       'Comedy, Drama, Family', 'Comedy, Drama, Romance',
       'Drama, Western', 'Drama, Mystery, Thriller', 'Mystery, Thriller',
       'Action, Adventure', 'Drama, Horror', 'Drama, Mystery, War',
       'Horror, Sci-Fi', 'Comedy', 'Comedy, Drama, War',
       'Adventure, Drama, War', 'Drama, Romance, Sci-Fi',
       'Animation, Adventure, Comedy', 'Adventure, Drama, Thriller',
       'Comedy, Crime, Drama', 'Crime, Drama, Sci-Fi',
       'Adventure, Sci-Fi', 'Adventure, Biography, Drama',
       'Adventure, Mystery, Thriller', 'Mystery, Romance, Thriller',
       'Comedy, Musical, Romance', 'Crime, Drama, Film-Noir',
       'Drama, Mystery', 'Drama, Sci-Fi', 'Drama, Fantasy, War',
       'Action, Comedy, Crime', 'Action, Thriller', 'Action, Drama, War',
       'Biography, Drama, Sport', 'Adventure, Comedy, Fantasy',
       'Adventure, Drama, History', 'Comedy, Music, Romance',
       'Adventure, Drama, Western', 'Adventure, Comedy, Drama',
       'Action, Comedy, Romance', 'Adventure, Comedy, Crime',
       'Drama, Sport', 'Comedy, Crime, Sport', 'Adventure, Drama',
       'Horror, Mystery, Sci-Fi', 'Action, Sci-Fi, Thriller',
       'Drama, Horror, Thriller', 'Drama, Film-Noir',
       'Film-Noir, Mystery, Thriller', 'Drama, Music, Romance',
       'Drama, Mystery, Romance', 'Comedy, Drama',
       'Drama, History, Romance', 'Comedy, Romance',
       'Action, Adventure, Comedy', 'Comedy, Drama, Music',
       'Drama, Thriller', 'Action, Mystery, Thriller',
       'Animation, Action, Adventure', 'Crime, Drama, Musical',
       'Comedy, Fantasy, Romance', 'Drama, History, Thriller',
       'Animation, Family, Fantasy', 'Animation, Action, Sci-Fi',
       'Adventure, Family, Fantasy', 'Adventure, Thriller', 'Horror',
       'Biography, Drama, Family', 'Action, Drama, Western',
       'Drama, Film-Noir, Mystery', 'Film-Noir, Mystery',
       'Drama, History', 'Adventure, Drama, Fantasy', 'Comedy, Horror',
       'Adventure, Drama, Sci-Fi', 'Drama, Fantasy, Romance',
       'Comedy, Music', 'Comedy, Family', 'Drama, Music, Musical',
       'Action, Adventure, Horror', 'Biography, Drama, War',
       'Action, Adventure, Western', 'Horror, Thriller',
       'Drama, Thriller, Western', 'Crime, Film-Noir, Thriller',
       'Drama, Film-Noir, Romance', 'Crime, Film-Noir, Mystery',
       'Action, Adventure, Romance', 'Comedy, Music, Musical',
       'Adventure, Horror, Sci-Fi', 'Biography, Comedy, Drama',
       'Action, Comedy, Fantasy', 'Family, Sci-Fi',
       'Family, Fantasy, Musical', 'Drama, Family, Musical',
       'Comedy, Family, Fantasy', 'Biography, Drama, Romance',
       'Drama, Sci-Fi, Thriller', 'Biography, Drama',
       'Action, Adventure, Thriller', 'Biography, Drama, Thriller',
       'Comedy, Drama, Fantasy', 'Comedy, Western',
       'Action, Crime, Thriller', 'Drama, Horror, Mystery',
       'Adventure, Drama, Romance', 'Comedy, Crime',
       'Adventure, Comedy, Family', 'Animation, Adventure, Family'],
      dtype=object)

In [380]:
# I am doing this in two steps:
# Firstly, for the films that have three genres, I take out last two of them.

In [381]:
import regex as re
def clean_genre(x):
    
    x=re.sub(',\W+\w*', '', x)
    
    return x

In [382]:
comp['Genre']=comp['Genre'].apply(clean_genre)

In [383]:
comp['Genre'].unique()

array(['Drama', 'Crime', 'Action', 'Biography', 'Action-Fi', 'Drama-Fi',
       'Animation', 'Adventure-Fi', 'Western', 'Horror', 'Comedy',
       'Mystery', 'Horror-Fi', 'Adventure', 'Crime-Fi', 'Crime-Noir',
       'Drama-Noir', 'Film-Noir', 'Animation-Fi', 'Family-Fi', 'Family'],
      dtype=object)

In [384]:
# I need to find what does the Film genre represent.

In [385]:
#language
comp['language'].unique()

array(['English', 'English, Italian, Latin', 'English, Mandarin',
       'English, Italian, Spanish, Latin, Sicilian',
       'English, Quenya, Old English, Sindarin',
       'English, Spanish, French', 'English, Hebrew, German, Polish',
       'English, Japanese, French', 'English, Sindarin',
       'English, Sindarin, Old English', 'English, Italian',
       'English, French, German, Czech', 'English, Cantonese',
       'English, German, Russian', 'English, Hungarian, Spanish, French',
       'English, Swahili, Xhosa, Zulu', 'English, Spanish',
       'Italian, Spanish', 'English, French, German, Italian',
       'English, German, French, Italian', 'German',
       'English, Italian, French',
       'English, German, Hebrew, Spanish, Arabic, Nepali',
       'English, French, Vietnamese', 'English, Russian',
       'English, Esperanto', 'English, French, Latin, Scottish Gaelic',
       'English, Vietnamese', 'English, Italian, Latin, German',
       'German, English, French', 'English, Arabic, Turkish', 'Japanese',
       'English, French', 'English, American Sign Language', 'Spanish',
       'English, German, Italian', 'Russian', 'English, French, Latin',
       'English, German, French, Russian, Spanish', 'English, Danish',
       'English, Irish', 'English, Latin, Spanish',
       'English, German, Hebrew, Spanish',
       'Serbian, German, French, English, Russian',
       'English, German, French', 'English, Norwegian',
       'English, German, Cantonese, Japanese, Hungarian',
       'English, Latin', 'English, Russian, Vietnamese, French',
       'English, Cantonese, Spanish', 'Russian, Italian, Tatar',
       'English, Japanese, Thai', 'English, Spanish, Latin',
       'English, French, Russian', 'French, German, English, Russian',
       'English, Pawnee, French', 'English, Hindi, French',
       'English, French, Italian',
       'English, French, Arabic, Russian, Spanish', 'French',
       'English, Sioux, Pawnee', 'English, Italian, Spanish, Korean',
       'English, Russian, Italian', 'English, German',
       'English, Latin, Greek, French, German, Arabic, Kurdish',
       'English, Russian, French', 'English, French, German, Latin',
       'English, Russian, Mandarin', 'English, English, French',
       'French, English',
       'English, Nyanja, Afrikaans, Zulu, Xhosa, Southern Sotho',
       'English, Tamil, French, Japanese, Hindi, Chinese',
       'Bosnian, French, English, Serbian',
       'English, German, Italian, Romanian, Spanish, Arabic, Georgian, Russian, Serbian',
       'English, Arabic, Spanish', 'English, Hebrew',
       'English, German, French, Russian, Arabic, Italian',
       'English, Spanish, German', 'English, French, Portuguese',
       'English, Czech', 'Maya', 'English, French, Khmer, Russian',
       'English, Navajo, Spanish', 'English, German, Hebrew, French',
       'English, French, German', 'English, French, Latin, Italian',
       'English, Greenlandic', 'English, Persian',
       'English, French, German, Swahili',
       'English, Persian, Spanish, Mandarin, Korean',
       'English, Japanese, German, French', 'German, English, Russian',
       'English, Spanish, Latin, French', 'English, Yiddish',
       'English, French, Mohawk', 'English, Italian, Irish, Yiddish',
       'English, Yiddish, German', 'English, Italian, Spanish',
       'English, Chinese, Spanish', 'English, German, Swahili',
       'English, Tok Pisin, Japanese, Greek', 'English, Cree',
       'English, French, Spanish, Hindi'], dtype=object)

In [386]:
def clean_language(x):
    
    x=re.sub(',\W+\w*', '', x)
    
    return x
comp['language']=comp['language'].apply(clean_language)
comp["language"].unique()

array(['English', 'English English', 'Italian', 'German',
       'English Gaelic', 'Japanese', 'English Sign Language', 'Spanish',
       'Russian', 'Serbian', 'French', 'English Sotho', 'Bosnian', 'Maya',
       'English Pisin'], dtype=object)

In [387]:
#country

In [388]:
comp['country'].unique()

array(['USA', 'USA, UK', 'USA, New Zealand', 'USA, Germany',
       'New Zealand, USA', 'USA, Hong Kong',
       'France, Poland, Germany, UK', 'USA, France', 'Italy, USA',
       'Germany', 'UK, USA', 'West Germany', 'UK', 'Japan',
       'Spain, Mexico, USA', 'Japan, France', 'Soviet Union',
       'USA, Germany, UK', 'Australia, USA',
       'Federal Republic of Yugoslavia, France, Germany, Bulgaria, Czech Republic, Hungary',
       'USA, Austria, Switzerland', 'West Germany, France, UK',
       'USA, Hong Kong, UK', 'France', 'USA, Hong Kong, Taiwan',
       'UK, USA, Australia',
       'Denmark, Spain, Germany, Netherlands, Italy, USA, UK, France, Sweden, Finland, Iceland, Norway',
       'France, UK', 'France, USA', 'UK, India', 'USA, Italy, UK',
       'UK, France, Belgium', 'France, USA, Belgium',
       'France, Germany, Austria',
       'South Africa, USA, New Zealand, Canada', 'USA, Taiwan, UK',
       'UK, France',
       'Bosnia and Herzegovina, France, Slovenia, Italy, UK, Belgium',
       'USA, Canada', 'USA, Sweden, Norway', 'Ireland', 'UK, France, USA',
       'Denmark, Sweden, France, Netherlands, Norway, Iceland, Spain',
       'USA, West Germany', 'UK, Germany', 'Germany, USA', 'USA, Japan',
       'Australia', 'USA, Italy', 'Hong Kong, USA', 'USA, Germany, India',
       'USA, Germany, Japan'], dtype=object)

In [389]:
def clean_country(x):
    
    x=re.sub(',\W+\w*', '', x)
    
    return x
comp['country']=comp['country'].apply(clean_country)
comp["country"].unique()

array(['USA', 'USA Zealand', 'New Zealand', 'USA Kong', 'France', 'Italy',
       'Germany', 'UK', 'West Germany', 'Japan', 'Spain', 'Soviet Union',
       'Australia', 'Federal Republic of Yugoslavia Republic', 'Denmark',
       'South Africa Zealand', 'Bosnia and Herzegovina', 'Ireland',
       'USA Germany', 'Hong Kong'], dtype=object)

In [390]:
#awards

In [391]:
comp['awards'].unique()

array(['Nominated for 7 Oscars. Another 18 wins & 30 nominations.',
       'Won 3 Oscars. Another 23 wins & 27 nominations.',
       'Won 2 Oscars. Another 146 wins & 142 nominations.',
       'Won 6 Oscars. Another 10 wins & 20 nominations.',
       'Nominated for 3 Oscars. Another 16 wins & 8 nominations.',
       'Won 11 Oscars. Another 174 wins & 113 nominations.',
       'Won 1 Oscar. Another 60 wins & 65 nominations.',
       'Won 7 Oscars. Another 71 wins & 33 nominations.',
       'Won 4 Oscars. Another 143 wins & 198 nominations.',
       'Nominated for 1 Oscar. Another 10 wins & 31 nominations.',
       'Won 4 Oscars. Another 108 wins & 122 nominations.',
       'Won 6 Oscars. Another 39 wins & 65 nominations.',
       'Won 2 Oscars. Another 114 wins & 127 nominations.',
       'Won 4 Oscars. Another 33 wins & 43 nominations.',
       'Won 1 Oscar. Another 37 wins & 32 nominations.',
       'Won 1 Oscar. Another 19 wins & 18 nominations.',
       'Won 5 Oscars. Another 30 wins & 13 nominations.',
       'Won 5 Oscars. Another 74 wins & 74 nominations.',
       'Nominated for 1 Oscar. Another 25 wins & 34 nominations.',
       'Won 5 Oscars. Another 48 wins & 34 nominations.',
       'Won 3 Oscars. Another 87 wins & 131 nominations.',
       'Nominated for 2 Oscars. Another 5 wins & 32 nominations.',
       'Won 4 Oscars. Another 90 wins & 123 nominations.',
       'Won 3 Oscars. Another 52 wins & 70 nominations.',
       'Won 5 Oscars. Another 53 wins & 101 nominations.',
       'Won 2 Oscars. Another 32 wins & 16 nominations.',
       'Won 2 Oscars. Another 32 wins & 30 nominations.',
       'Won 4 Oscars. Another 21 wins & 22 nominations.',
       'Won 1 Oscar. Another 18 wins & 26 nominations.',
       '4 wins & 5 nominations.',
       'Nominated for 4 Oscars. Another 5 wins & 9 nominations.',
       'Won 3 Oscars. Another 4 wins & 8 nominations.',
       '4 wins & 1 nomination.', '3 wins.',
       'Won 2 Oscars. Another 53 wins & 143 nominations.',
       'Won 1 Oscar. Another 75 wins & 32 nominations.',
       'Nominated for 2 Oscars. Another 54 wins & 55 nominations.',
       'Nominated for 2 Golden Globes. Another 11 wins & 7 nominations.',
       'Won 4 Oscars. Another 30 wins & 23 nominations.',
       '3 wins & 5 nominations.',
       'Won 2 Oscars. Another 18 wins & 32 nominations.',
       'Won 1 Oscar. Another 16 wins & 19 nominations.',
       'Nominated for 4 Oscars. Another 13 wins & 6 nominations.',
       'Nominated for 4 Oscars. Another 6 wins & 8 nominations.',
       'Nominated for 5 Oscars. Another 5 wins & 1 nomination.',
       'Won 1 Oscar. Another 124 wins & 153 nominations.',
       'Won 1 Oscar. Another 67 wins & 103 nominations.',
       'Nominated for 1 Oscar. Another 32 wins & 61 nominations.',
       'Won 5 Oscars. Another 103 wins & 96 nominations.',
       'Nominated for 3 Oscars. Another 23 wins & 18 nominations.',
       'Won 5 Oscars. Another 26 wins & 29 nominations.',
       '9 wins & 15 nominations.',
       'Nominated for 1 Oscar. Another 7 wins & 9 nominations.',
       'Won 2 Oscars. Another 17 wins & 22 nominations.',
       'Won 8 Oscars. Another 33 wins & 14 nominations.', '2 wins.',
       'Nominated for 3 Golden Globes. Another 4 nominations.',
       'Nominated for 4 Oscars. Another 18 wins & 16 nominations.',
       'Nominated for 6 Oscars. Another 13 wins & 5 nominations.',
       'Nominated for 4 Oscars. Another 21 wins & 15 nominations.',
       'Won 7 Oscars. Another 10 wins & 6 nominations.',
       'Nominated for 4 Oscars. Another 8 wins & 17 nominations.',
       'Won 1 Oscar. Another 13 wins & 7 nominations.',
       'Won 7 Oscars. Another 23 wins & 14 nominations.',
       'Won 5 Oscars. Another 19 wins & 8 nominations.',
       'Nominated for 3 Oscars. Another 8 wins & 4 nominations.',
       'Nominated for 2 Oscars. Another 8 wins & 3 nominations.',
       'Nominated for 2 Oscars. Another 5 wins & 7 nominations.',
       'Nominated for 1 BAFTA Film Award. Another 5 wins.',
       'Nominated for 7 Oscars. Another 2 wins & 2 nominations.',
       'Won 1 Oscar. Another 7 wins & 12 nominations.',
       '4 wins & 4 nominations.',
       'Nominated for 5 Oscars. Another 35 wins & 155 nominations.',
       'Won 2 Oscars. Another 105 wins & 133 nominations.',
       'Won 3 Oscars. Another 94 wins & 99 nominations.',
       'Won 2 Oscars. Another 58 wins & 89 nominations.',
       'Nominated for 1 BAFTA Film Award. Another 13 wins & 7 nominations.',
       'Won 2 Oscars. Another 84 wins & 77 nominations.',
       '12 nominations.',
       'Nominated for 1 Oscar. Another 3 wins & 9 nominations.',
       'Won 4 Oscars. Another 36 wins & 29 nominations.',
       'Nominated for 4 Oscars. Another 6 wins & 2 nominations.',
       'Won 1 Oscar. Another 26 wins & 22 nominations.',
       'Won 2 Oscars. Another 22 wins & 24 nominations.',
       '2 wins & 1 nomination.', '2 wins & 2 nominations.',
       'Nominated for 1 Oscar. Another 2 wins & 7 nominations.',
       'Won 1 Oscar. Another 9 wins & 13 nominations.',
       'Won 6 Oscars. Another 16 wins & 17 nominations.',
       'Won 3 Oscars. Another 12 wins & 5 nominations.',
       'Nominated for 2 Oscars. Another 3 wins & 1 nomination.', '1 win.',
       'Won 4 Oscars. Another 122 wins & 213 nominations.',
       'Won 3 Oscars. Another 233 wins & 312 nominations.',
       'Won 2 Oscars. Another 119 wins & 138 nominations.',
       'Won 6 Oscars. Another 232 wins & 219 nominations.',
       'Nominated for 2 Oscars. Another 23 wins & 99 nominations.',
       'Won 4 Oscars. Another 155 wins & 131 nominations.',
       'Won 4 Oscars. Another 60 wins & 81 nominations.',
       'Nominated for 1 Oscar. Another 9 wins & 27 nominations.',
       'Nominated for 1 Golden Globe. Another 25 wins & 84 nominations.',
       'Nominated for 6 Oscars. Another 32 wins & 47 nominations.',
       '4 wins & 16 nominations.',
       'Nominated for 1 Oscar. Another 20 wins & 26 nominations.',
       'Won 2 Oscars. Another 73 wins & 52 nominations.',
       '5 wins & 9 nominations.', '1 win & 7 nominations.',
       'Won 3 Oscars. Another 28 wins & 17 nominations.',
       'Nominated for 1 Oscar. Another 4 wins & 10 nominations.',
       'Won 4 Oscars. Another 19 wins & 14 nominations.',
       'Nominated for 1 Golden Globe. Another 16 wins & 8 nominations.',
       '3 nominations.',
       'Nominated for 2 Oscars. Another 11 wins & 16 nominations.', nan,
       'Won 5 Oscars. Another 17 wins & 26 nominations.',
       'Won 3 Oscars. Another 16 wins & 21 nominations.',
       'Won 1 Oscar. Another 20 wins & 23 nominations.',
       'Won 1 Oscar. Another 2 wins & 9 nominations.',
       'Won 1 Oscar. Another 1 win & 11 nominations.',
       'Won 11 Oscars. Another 16 wins & 13 nominations.',
       'Won 7 Oscars. Another 23 wins & 7 nominations.',
       'Won 8 Oscars. Another 21 wins & 9 nominations.',
       'Nominated for 1 Oscar. Another 3 wins & 2 nominations.',
       'Won 1 Oscar. Another 4 wins & 4 nominations.',
       'Won 2 Oscars. Another 2 wins & 5 nominations.',
       'Won 2 Oscars. Another 2 wins & 10 nominations.',
       'Won 1 Oscar. Another 4 wins & 11 nominations.',
       'Won 8 Oscars. Another 9 wins & 8 nominations.',
       'Nominated for 1 Oscar. Another 5 wins & 1 nomination.',
       'Won 5 Oscars. Another 5 wins & 1 nomination.',
       'Won 6 Oscars. Another 212 wins & 252 nominations.',
       'Nominated for 2 Oscars. Another 48 wins & 92 nominations.',
       'Won 3 Oscars. Another 86 wins & 181 nominations.',
       'Won 4 Oscars. Another 101 wins & 190 nominations.',
       'Won 8 Oscars. Another 143 wins & 120 nominations.',
       'Won 1 Oscar. Another 90 wins & 244 nominations.',
       'Won 3 Oscars. Another 25 wins & 38 nominations.',
       'Won 2 Oscars. Another 59 wins & 53 nominations.',
       'Nominated for 3 Oscars. Another 28 wins & 51 nominations.',
       'Nominated for 1 Oscar. Another 33 wins & 45 nominations.',
       'Nominated for 5 Oscars. Another 33 wins & 37 nominations.',
       'Won 1 BAFTA Film Award. Another 5 wins & 8 nominations.',
       'Won 2 Oscars. Another 16 wins & 25 nominations.',
       '1 win & 2 nominations.',
       'Won 7 Oscars. Another 43 wins & 32 nominations.',
       'Nominated for 2 Oscars. Another 15 wins & 11 nominations.',
       'Won 4 Oscars. Another 22 wins & 21 nominations.',
       'Nominated for 1 Oscar. Another 6 wins & 8 nominations.',
       '5 wins & 6 nominations.',
       'Won 8 Oscars. Another 27 wins & 20 nominations.',
       'Won 1 Oscar. Another 12 wins & 15 nominations.',
       'Won 4 Oscars. Another 26 wins & 8 nominations.',
       'Won 3 Oscars. Another 10 wins & 16 nominations.',
       'Won 1 Oscar. Another 13 wins & 19 nominations.',
       'Nominated for 2 Oscars. Another 10 wins & 5 nominations.',
       'Nominated for 1 Oscar. Another 2 wins & 1 nomination.',
       'Won 2 Oscars. Another 14 wins & 15 nominations.',
       'Nominated for 4 Oscars. Another 5 wins & 7 nominations.',
       'Won 2 Oscars. Another 16 wins & 22 nominations.',
       'Won 4 Oscars. Another 16 wins & 14 nominations.',
       'Nominated for 2 Oscars. Another 4 wins & 1 nomination.',
       'Won 1 Oscar. Another 20 wins & 16 nominations.',
       'Won 5 Oscars. Another 12 wins & 13 nominations.',
       'Won 5 Oscars. Another 16 wins & 13 nominations.',
       'Won 2 Oscars. Another 11 wins & 20 nominations.',
       'Won 1 Golden Globe. Another 1 win & 4 nominations.',
       'Nominated for 7 Oscars. Another 9 wins & 11 nominations.',
       '6 wins & 1 nomination.',
       'Won 4 Oscars. Another 13 wins & 15 nominations.',
       'Won 1 Oscar. Another 1 win & 4 nominations.',
       'Won 7 Oscars. Another 13 wins & 2 nominations.',
       'Nominated for 3 Oscars. Another 2 wins.',
       'Won 2 Oscars. Another 7 wins & 5 nominations.',
       'Won 2 Oscars. Another 7 wins & 13 nominations.',
       'Won 2 Oscars. Another 5 wins & 2 nominations.',
       'Won 1 BAFTA Film Award. Another 24 wins & 30 nominations.',
       'Won 1 Oscar. Another 62 wins & 245 nominations.',
       'Won 5 Oscars. Another 145 wins & 185 nominations.',
       'Won 1 Oscar. Another 76 wins & 102 nominations.',
       'Nominated for 4 Oscars. Another 24 wins & 104 nominations.',
       'Nominated for 2 Oscars. Another 56 wins & 83 nominations.',
       'Won 1 Oscar. Another 169 wins & 202 nominations.',
       'Won 4 Oscars. Another 76 wins & 125 nominations.',
       '13 wins & 20 nominations.',
       'Won 1 Oscar. Another 27 wins & 20 nominations.',
       'Nominated for 3 Oscars. Another 41 wins & 71 nominations.',
       'Nominated for 1 Oscar. Another 46 wins & 56 nominations.',
       'Nominated for 1 Oscar. Another 20 wins & 28 nominations.',
       'Nominated for 3 Oscars. Another 29 wins & 49 nominations.',
       'Nominated for 1 Oscar. Another 6 wins & 15 nominations.',
       'Nominated for 3 Oscars. Another 13 wins & 19 nominations.',
       'Won 1 Oscar. Another 10 wins & 15 nominations.',
       'Won 3 Oscars. Another 22 wins & 26 nominations.',
       '3 wins & 11 nominations.',
       'Nominated for 2 Oscars. Another 15 wins & 21 nominations.',
       'Won 4 Oscars. Another 6 wins & 14 nominations.',
       'Won 4 Oscars. Another 12 wins & 21 nominations.',
       'Won 7 Oscars. Another 17 wins & 8 nominations.',
       'Nominated for 2 Oscars. Another 5 wins & 4 nominations.',
       'Won 3 Oscars. Another 12 wins & 18 nominations.',
       'Won 5 Oscars. Another 17 wins & 14 nominations.',
       'Won 4 Oscars. Another 6 wins & 11 nominations.',
       'Won 1 Oscar. Another 5 wins & 8 nominations.',
       'Won 4 Oscars. Another 13 wins & 10 nominations.',
       'Nominated for 1 Oscar. Another 1 win & 1 nomination.',
       'Won 4 Oscars. Another 12 wins & 3 nominations.',
       'Won 3 Oscars. Another 2 wins & 2 nominations.',
       '3 wins & 4 nominations.',
       'Won 2 Oscars. Another 113 wins & 239 nominations.',
       'Won 1 Oscar. Another 37 wins & 79 nominations.',
       'Won 1 Oscar. Another 26 wins & 85 nominations.',
       'Nominated for 1 Oscar. Another 27 wins & 40 nominations.',
       'Won 1 Oscar. Another 21 wins & 29 nominations.',
       'Won 1 Oscar. Another 49 wins & 145 nominations.',
       'Nominated for 1 Oscar. Another 73 wins & 162 nominations.',
       'Won 3 Oscars. Another 80 wins & 121 nominations.',
       'Nominated for 3 Oscars. Another 8 wins & 18 nominations.',
       'Won 2 Oscars. Another 68 wins & 104 nominations.',
       'Won 3 Oscars. Another 73 wins & 146 nominations.',
       'Won 11 Oscars. Another 110 wins & 73 nominations.',
       'Nominated for 1 Oscar. Another 42 wins & 25 nominations.',
       'Nominated for 2 Oscars. Another 10 wins & 13 nominations.',
       'Won 3 Oscars. Another 11 wins & 16 nominations.',
       '5 nominations.', 'Nominated for 1 Golden Globe. Another 1 win.',
       '4 wins & 6 nominations.',
       'Nominated for 11 Oscars. Another 13 wins & 13 nominations.',
       'Won 3 Oscars. Another 24 wins & 22 nominations.',
       'Nominated for 2 Oscars. Another 6 wins & 6 nominations.',
       'Won 4 Oscars. Another 7 wins & 15 nominations.',
       'Won 1 BAFTA Film Award. Another 2 wins & 6 nominations.',
       'Won 4 Oscars. Another 47 wins & 32 nominations.',
       'Won 5 Oscars. Another 32 wins & 23 nominations.',
       'Nominated for 1 Oscar. Another 1 win.',
       'Nominated for 3 Oscars. Another 14 wins & 13 nominations.',
       'Won 8 Oscars. Another 27 wins & 15 nominations.',
       'Won 3 Oscars. Another 24 wins & 15 nominations.',
       'Won 2 Oscars. Another 7 wins & 22 nominations.',
       'Won 8 Oscars. Another 15 wins & 13 nominations.',
       'Won 5 Oscars. Another 15 wins & 14 nominations.',
       'Nominated for 2 BAFTA Film Awards. Another 3 wins & 3 nominations.',
       'Won 1 Oscar. Another 24 wins & 118 nominations.',
       'Won 4 Oscars. Another 182 wins & 264 nominations.',
       'Nominated for 6 Oscars. Another 26 wins & 157 nominations.',
       'Won 7 Oscars. Another 215 wins & 169 nominations.',
       'Won 3 Oscars. Another 161 wins & 162 nominations.',
       'Won 1 Golden Globe. Another 10 wins & 26 nominations.',
       'Won 2 Oscars. Another 64 wins & 115 nominations.',
       'Won 3 Oscars. Another 91 wins & 150 nominations.',
       'Won 1 Oscar. Another 47 wins & 30 nominations.',
       'Won 3 Oscars. Another 129 wins & 121 nominations.',
       'Won 3 Oscars. Another 61 wins & 105 nominations.',
       'Won 1 Oscar. Another 93 wins & 118 nominations.',
       'Nominated for 1 Golden Globe. Another 32 wins & 17 nominations.',
       'Won 1 Oscar. Another 60 wins & 95 nominations.',
       'Nominated for 2 Oscars. Another 7 wins & 35 nominations.',
       'Nominated for 1 Golden Globe. Another 12 wins & 23 nominations.',
       'Nominated for 1 Golden Globe. Another 15 wins & 15 nominations.',
       'Nominated for 3 Oscars. Another 48 wins & 75 nominations.',
       'Won 1 Oscar. Another 44 wins & 48 nominations.',
       'Nominated for 1 Oscar. Another 17 wins & 16 nominations.',
       'Won 2 Oscars. Another 10 wins & 16 nominations.',
       'Won 1 Oscar. Another 6 wins & 13 nominations.',
       'Nominated for 1 Oscar. Another 5 wins & 7 nominations.',
       '3 wins & 7 nominations.',
       'Won 3 Oscars. Another 19 wins & 21 nominations.',
       '1 win & 1 nomination.',
       'Nominated for 1 Oscar. Another 18 wins & 16 nominations.',
       'Nominated for 1 Oscar. Another 14 wins & 14 nominations.',
       'Nominated for 5 Oscars. Another 3 wins & 9 nominations.',
       'Won 4 Oscars. Another 15 wins & 14 nominations.',
       'Nominated for 1 Golden Globe. Another 2 wins & 6 nominations.',
       '4 wins & 2 nominations.',
       'Nominated for 3 Oscars. Another 3 wins & 2 nominations.',
       'Nominated for 2 Oscars. Another 5 wins & 9 nominations.',
       'Nominated for 3 Oscars. Another 2 wins & 10 nominations.',
       'Won 5 Oscars. Another 17 wins & 10 nominations.',
       'Won 1 Oscar. Another 3 wins & 6 nominations.',
       'Nominated for 1 Oscar. Another 2 wins & 5 nominations.',
       'Won 2 Oscars. Another 8 wins & 8 nominations.',
       '7 wins & 2 nominations.',
       'Won 1 Oscar. Another 30 wins & 99 nominations.',
       'Nominated for 4 Oscars. Another 42 wins & 157 nominations.',
       'Nominated for 6 Oscars. Another 5 wins & 5 nominations.',
       'Nominated for 10 Oscars. Another 37 wins & 148 nominations.',
       'Nominated for 1 Oscar. Another 10 wins & 45 nominations.',
       'Nominated for 7 Oscars. Another 20 wins & 41 nominations.',
       '4 wins & 10 nominations.', '2 nominations.',
       'Nominated for 1 BAFTA Film Award. Another 13 wins & 11 nominations.',
       'Nominated for 1 Oscar. Another 4 wins & 15 nominations.',
       'Nominated for 2 Oscars. Another 3 wins & 9 nominations.',
       'Won 1 Oscar. Another 13 wins & 37 nominations.',
       'Nominated for 1 Oscar. Another 4 wins & 3 nominations.',
       'Nominated for 2 Oscars. Another 2 wins & 5 nominations.',
       'Won 8 Oscars. Another 14 wins & 7 nominations.'], dtype=object)

In [392]:
# Certificate

In [393]:
comp['Certificate'].unique()

array(['A', 'UA', 'U', 'R', 'G', 'Passed', nan, 'PG', 'Approved', 'PG-13'],
      dtype=object)

In [394]:
filtered= comp[['title', 'Certificate', 'Runtime',
       'Genre', 'IMDB_Rating', 'Meta_score', 'Director', 'Star1',
       'Star2', 'No_of_Votes', 'Gross',
       'rank_afc_2007', 'rank_afc_1998', 'rank_wga_2005', 'rank_ss_2012',
       'included_in_guardian_list', 'included_in_1001_book', 'year', 'rated',
       'released', 'genre', 'director', 'writer', 'actors',
       'language', 'country', 'awards', 'metascore', 'imdb_rating',
       'imdb_votes']]

In [395]:
filtered.head()

,title,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,No_of_Votes,...,genre,director,writer,actors,language,country,awards,metascore,imdb_rating,imdb_votes
0,The Shawshank Redemption,A,142,Drama,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,2343110,...,"Crime, Drama",Frank Darabont,"Stephen King (short story ""Rita Hayworth and S...","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",English,USA,Nominated for 7 Oscars. Another 18 wins & 30 n...,80.0,9.3,"1,711,064"
1,The Godfather,A,175,Crime,9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,1620367,...,"Crime, Drama",Francis Ford Coppola,"Mario Puzo (screenplay), Francis Ford Coppola ...","Marlon Brando, Al Pacino, James Caan, Richard ...",English,USA,Won 3 Oscars. Another 23 wins & 27 nominations.,100.0,9.2,"1,169,904"
2,The Dark Knight,UA,152,Action,9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,2303232,...,"Action, Crime, Drama",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Heath Ledger, Aaron Eckhart, M...",English,USA,Won 2 Oscars. Another 146 wins & 142 nominations.,82.0,9.0,"1,699,835"
3,The Godfather: Part II,A,202,Crime,9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,1129952,...,"Crime, Drama",Francis Ford Coppola,"Francis Ford Coppola (screenplay), Mario Puzo ...","Al Pacino, Robert Duvall, Diane Keaton, Robert...",English,USA,Won 6 Oscars. Another 10 wins & 20 nominations.,80.0,9.0,"800,469"
4,12 Angry Men,U,96,Crime,9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,689845,...,"Crime, Drama",Sidney Lumet,"Reginald Rose (story), Reginald Rose (screenplay)","Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",English,USA,Nominated for 3 Oscars. Another 16 wins & 8 no...,NaN,8.9,"451,535"

# Deal with dates, get column for month, see how it interacts with gross and maybe certificate, genre, score

In [396]:
# Creating new datetime columns by Week and Month

In [397]:
import datetime

filtered['week_name']= pd.DatetimeIndex(filtered['released']).week
filtered['month_name']= pd.DatetimeIndex(filtered['released']).month_name()

C:\Users\hugoa\AppData\Local\Temp\ipykernel_12384\2633110442.py:3: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  filtered['week_name']= pd.DatetimeIndex(filtered['released']).week
C:\Users\hugoa\AppData\Local\Temp\ipykernel_12384\2633110442.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['week_name']= pd.DatetimeIndex(filtered['released']).week
C:\Users\hugoa\AppData\Local\Temp\ipykernel_12384\2633110442.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['month_name']= pd.DatetimeIndex(filtered['released']).month_name()

In [398]:

filtered['month_name'].value_counts()

December     52
October      40
June         30
February     28
September    23
November     23
January      23
July         22
August       21
April        19
March        18
May          16
Name: month_name, dtype: int64

In [399]:

filtered['week_name'].unique()

array([41., 12., 29., 51., 13.,  5., 28., 27., 38., 25., 47., 30.,  7.,
       42., 40., 18., 37.,  4.,  9., 10., 52., 21., 22., 24., 33., 36.,
       34., 50., 39., 14., 15., 49.,  6., 19., 16.,  3., 35., 32.,  2.,
       nan, 45., 20., 31., 23.,  8., 44., 26.,  1., 43., 53., 48., 11.,
       46., 17.])

In [400]:
filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 317 entries, 0 to 370
Data columns (total 32 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   title                      317 non-null    object
 1   Certificate                305 non-null    object
 2   Runtime                    317 non-null    object
 3   Genre                      317 non-null    object
 4   IMDB_Rating                317 non-null    float64
 5   Meta_score                 295 non-null    float64
 6   Director                   317 non-null    object
 7   Star1                      317 non-null    object
 8   Star2                      317 non-null    object
 9   No_of_Votes                317 non-null    int64
 10  Gross                      317 non-null    object
 11  rank_afc_2007              75 non-null     float64
 12  rank_afc_1998              71 non-null     float64
 13  rank_wga_2005              77 non-null     float64
 14  rank_ss_2012               16 non-null     float64
 15  included_in_guardian_list  89 non-null     object
 16  included_in_1001_book      303 non-null    object
 17  year                       317 non-null    int64
 18  rated                      316 non-null    object
 19  released                   315 non-null    object
 20  genre                      317 non-null    object
 21  director                   317 non-null    object
 22  writer                     317 non-null    object
 23  actors                     317 non-null    object
 24  language                   317 non-null    object
 25  country                    317 non-null    object
 26  awards                     314 non-null    object
 27  metascore                  210 non-null    float64
 28  imdb_rating                317 non-null    float64
 29  imdb_votes                 316 non-null    object
 30  week_name                  315 non-null    float64
 31  month_name                 315 non-null    object
dtypes: float64(9), int64(2), object(21)
memory usage: 81.7+ KB

In [401]:
filtered["Runtime"]=pd.to_numeric(filtered["Runtime"]).copy()

C:\Users\hugoa\AppData\Local\Temp\ipykernel_12384\3210566004.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered["Runtime"]=pd.to_numeric(filtered["Runtime"]).copy()

In [402]:
#Clean Gross

In [403]:
def clean_gross(x):
    
    x=x.replace(',', '')
    
    return x
filtered["Gross"]=filtered["Gross"].apply(clean_gross)

C:\Users\hugoa\AppData\Local\Temp\ipykernel_12384\1390715891.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered["Gross"]=filtered["Gross"].apply(clean_gross)

In [404]:
filtered["Gross"]=pd.to_numeric(filtered["Gross"]).copy()

C:\Users\hugoa\AppData\Local\Temp\ipykernel_12384\3740397080.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered["Gross"]=pd.to_numeric(filtered["Gross"]).copy()

In [408]:
filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 317 entries, 0 to 370
Data columns (total 32 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   title                      317 non-null    object
 1   Certificate                305 non-null    object
 2   Runtime                    317 non-null    int64
 3   Genre                      317 non-null    object
 4   IMDB_Rating                317 non-null    float64
 5   Meta_score                 295 non-null    float64
 6   Director                   317 non-null    object
 7   Star1                      317 non-null    object
 8   Star2                      317 non-null    object
 9   No_of_Votes                317 non-null    int64
 10  Gross                      317 non-null    int64
 11  rank_afc_2007              75 non-null     float64
 12  rank_afc_1998              71 non-null     float64
 13  rank_wga_2005              77 non-null     float64
 14  rank_ss_2012               16 non-null     float64
 15  included_in_guardian_list  89 non-null     object
 16  included_in_1001_book      303 non-null    object
 17  year                       317 non-null    int64
 18  rated                      316 non-null    object
 19  released                   315 non-null    object
 20  genre                      317 non-null    object
 21  director                   317 non-null    object
 22  writer                     317 non-null    object
 23  actors                     317 non-null    object
 24  language                   317 non-null    object
 25  country                    317 non-null    object
 26  awards                     314 non-null    object
 27  metascore                  210 non-null    float64
 28  imdb_rating                317 non-null    float64
 29  imdb_votes                 316 non-null    object
 30  week_name                  315 non-null    float64
 31  month_name                 315 non-null    object
dtypes: float64(9), int64(4), object(19)
memory usage: 81.7+ KB

In [411]:
filtered["included_in_guardian_list"].fillna( "False", inplace=True)

C:\Users\hugoa\AppData\Local\Temp\ipykernel_12384\1934561520.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered["included_in_guardian_list"].fillna( "False", inplace=True)

In [412]:
filtered.to_csv("C://Users/hugoa/Ironhack/Week_5/Mid_bootcamp_project/Data/Cleaned/clean.csv")